body {
	font-family:"Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
}

.half { width: 49%; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; }

header, section, footer {
	display:block;
	width:728px;
	margin:0 auto;
}

section {
	border-bottom:1px black solid;
}

.hover, img {
	-webkit-user-select: none;
	-webkit-touch-callout: none;	
}

a {
	-webkit-transition:color 0.5s ease-in-out;
	-moz-transition:color 0.5s ease-in-out;
	-o-transition:color 0.5s ease-in-out;
	-ms-transition:color 0.5s ease-in-out;	
	transition:color 0.5s ease-in-out;
}

header {
	text-align:center;
}

header a {
	text-decoration:none;
	color:black;
}

header a:hover {
	color:red;
	text-shadow:0 0 15px #aaa;
}

a {
	text-decoration:none;
	color:blue;
	text-shadow:1px 1px 2px #fff;
}

a:hover {
	text-shadow:1px 1px 2px rgba(10,10,10,0.5);
}

pre, .code {
	font-size:13px;
	font-family:Inconsolata, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
	overflow:hidden;
}

pre {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:15px;
	padding:1em;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
	
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;	
}

pre:hover, .note:hover {
	-webkit-box-shadow: 10px 10px 5px #aaa;
	-moz-box-shadow: 10px 10px 5px #aaa;
	box-shadow: 10px 10px 5px #aaa;
}

pre.lang-html {
	background-color:rgba(255,0,0,0.1);
}

pre.lang-html:hover {
	background-color:rgba(255,0,0,0.2);
}

pre.lang-css {
	background-color:rgba(0,255,0,0.1);
}

pre.lang-css:hover {
	background-color:rgba(0,255,0,0.2);
}

pre.lang-js {
	background-color:rgba(0,0,255,0.1);
}

pre.lang-js:hover {
	background-color:rgba(0,0,255,0.2);
}

.note {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;	
	transition:all 0.5s ease-in-out;
	font-family:"Marker Felt", "Comic Sans", Arial, sans-serif;
	background-color:rgba(255,255,0,0.2);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:15px;
	padding:1em;
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
}

.note:hover {
	background-color:rgba(255,255,0,0.3);
}

.shadow {
	-webkit-box-shadow: 5px 5px 5px #aaa;
	-moz-box-shadow: 5px 5px 5px #aaa;
	box-shadow: 5px 5px 5px #aaa;
}

footer, .center {
	text-align:center;
}

.transition {
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out;	
}

.selected {
	font-weight:bold;
}

.no-csstransitions #bs_transitions,.no-csstransforms #bs_2dtrans,.no-csstransforms3d #bs_3dtrans, .no-cssanimations #bs_animation {
	color:red;
}

.csstransitions #bs_transitions,.csstransforms #bs_2dtrans,.csstransforms3d #bs_3dtrans, .cssanimations #bs_animation {
	color:green;
}

.table {
	border-collapse: collapse;
}
.table th {
	border-bottom: 1px #ccc solid;
}
.table td, .table th {
	padding:1px 10px;
	width:200px;
	border-left:1px #ccc solid;
	border-right:1px #ccc solid;	
}
.table tr {
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.table tr:hover {
	background-color:#ddd;
}

.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}